.el-descriptions__body {
    background-color: transparent !important;
}

.el-input__inner {
    height: 20px;
}
.el-menu-vertical-demo[data-v-11540b18]:not(.el-menu--collapse){
    height: 100%;
}
.start-tip .el-alert--info .el-alert__description{
    color: unset;
}
.fade-in .el-collapse-item__header{
    background-color:unset;
}
.fade-in .el-collapse-item__wrap{
    background-color: unset;
}